

<div class="card bg-default">
        <div class="card-body">
          <p class="card-text">
            <form>
              <div class="form-group">
                <label for="date-input">Please select the prospective end date.</label>
                <input type="date" class="form-control" id="date-input" aria-describedby="date">
              </div>
              <button id="regimenInput" type="submit" class="btn btn-info">Save New</button>
            </form>
          </p>
        </div>
      </div>

      <div class="card bg-default">
        <div class="card-body">
          <p class="card-text">
            <div id="regimenDisplay"></div>
            
          </p>
        </div>
      </div>
<script src="/js/regimen.js"></script>
