<div id='calendar'></div>

<div class="card bg-default">
        <div class="card-body">
          <p class="card-text">
            <form>
              <div class="form-group">
                <label for="date-input">End Date</label>
                <input type="date" class="form-control" id="date-input" aria-describedby="date">
              </div>
              <div id="selected-book" class="form-group">
                <label for="selectedBook">Book</label>
                  <input id="test" type="text" data-id="123" placeholder="Big Iron"></input>
              </div>
              <button id="dateInput" type="submit" class="btn btn-info">Search</button>
            </form>
          </p>
        </div>
      </div>
<script src="/js/regimen.js"></script>