

<div class="card bg-default">
        <div class="card-body">
          <p class="card-text">
            <form>
              {{!-- <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" id="menu1" type="button" data-toggle="dropdown">Toggle this Dropdown
    <span class="caret"></span></button>
    <ul id="selectedBook" class="dropdown-menu" role="menu" aria-labelledby="menu1">

    </ul>
  </div><br> --}}
              <div class="form-group">
                <label for="date-input">Please select the prospective end date.</label>
                <input type="date" class="form-control" id="date-input" aria-describedby="date">
              </div>
              <button id="regimenInput" type="submit" class="btn btn-info">Save New</button>
            </form>
          </p>
        </div>
      </div>

      <div class="card bg-default">
        <div class="card-body">
          <p class="card-text">
            <div id="regimenDisplay"></div>
            
          </p>
        </div>
      </div>
<script src="/js/regimen.js"></script>
