<div class="container-fluid">
    <br>
    <br>
    <div class="row">
        <hr>
        <div class="col-md-2">
        </div>
        <div class="col-md-8" id="result-box">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">You Searched!</h1>
                    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>

<link rel="stylesheet" href="/styles/search.css" media="screen" charset="utf-8">
<script src="/js/search.js"></script>