<div class="container-fluid">
  <br>
  <br>
  <div class="row">
    <hr>
    <div class="col-md-2">
    </div>
    <div class="col-md-8" id="search-box">
      <div class="card bg-default">
        <h5 class="card-header">
          Search for a Book
        </h5>
        <div class="card-body">
          <p class="card-text">
            <form>
              <div class="form-group">
                <label for="isbn">ISBN-10 Number</label>
                <input type="text" class="form-control" id="isbn-input" aria-describedby="isbnHelp" placeholder="9781405080583">
                <small id="emailHelp" class="form-text text-muted">Must be 10 digits long</small>
              </div>
              <div class="form-group">
                <label for="title">Book Title</label>
                <input type="text" class="form-control" id="title-input" placeholder="Doctor No">
              </div>
              <button id="bookSearch" type="submit" class="btn btn-info">Search</button>
            </form>
          </p>
        </div>
      </div>

      <div>
        <h3>Book Search Results:</h3>
        <ul id="book-info" class="list-group">
        </ul>
      </div>

      <div class="modal fade" id="bookModal" tabindex="-1" role="dialog" aria-labelledby="bookModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel"></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">

            </div>
          </div>
        </div>
      </div>



    </div>
  </div>
</div>
</div>

</div>
<div class="col-md-2">
</div>
</div>
</div>


<link rel="stylesheet" href="/styles/search.css" media="screen" charset="utf-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script type="text/javascript">
  $('#bookSearch').click(function (event) {
    event.preventDefault();
    console.log('bookSearch button clicked');

    let input = {};
    input.isbn = $("#isbn-input").val();
    input.title = $("#title-input").val();


    let queryURL = "https://www.googleapis.com/books/v1/volumes?q=isbn:" + input.isbn + "&key=" + "AIzaSyDdxaUEx5j0RsXLGcsviwOwOVMZ2QBLLBo"
    $.ajax({
      url: queryURL,
      type: "GET"
    }).then(function (result) {
      $("#book-info").empty()
      console.log(result.items[0].volumeInfo.title)
      var books = result.items
      for (i = 0; i < books.length; i++) {
        console.log("tick")
        var $li = $("<li>").text(books[i].volumeInfo.title).addClass("list-group-item")
        var $button = $("<button>").addClass("btn btn-primary select float-right").text("Select").attr("data-target", ".modal").attr("data-toggle", "modal").attr("data-id", books[i].id)
        $li.append($button)
        $("#book-info").append($li)
      }
      // console.log(result.items[0].volumeInfo.title)
      //    console.log(result)
      //  console.log("right here");
      //          $.ajax({
      //        type: 'POST',
      //      data: JSON.stringify(result),
      //    contentType: 'application/json',
      //  url: 'http://localhost:3000/result',
      //success: function (result) {
      //  console.log(result)
      //console.log('sent to server');
      //  }
    });
  })

  var downloadBook = function (bookID) {
    var queryURL =
      "https://www.googleapis.com/books/v1/volumes/" +
      bookID
    //   + "?key=" +
    //      "AIzaSyDdxaUEx5j0RsXLGcsviwOwOVMZ2QBLLBo";
    return $.ajax({
      url: queryURL,
      type: "GET",
      success: function (result) {
        console.log("book info downloaded!");
      }
    }).then(function (data) {
      console.log(data)
    });
  }

 //bookPUSH not used as of today sept 3, see sendBook within click listener below <KN>
  var bookPUSH = function (bookData) {
    return $.ajax({
      headers: {
        "Content-Type": "application/json"
      },
      type: "POST",
      url: "api/books",
      data: JSON.stringify(bookData),
      success: function (result) {
        console.log("book saved to server");
      }
    });
  }


  $(document).on("click", ".select", function () {
    var bookID = $(this).attr("data-id");
    console.log(bookID)
    var queryURL =
      "https://www.googleapis.com/books/v1/volumes/" +
      bookID
    //   + "?key=" +
    //      "AIzaSyDdxaUEx5j0RsXLGcsviwOwOVMZ2QBLLBo";
    $.ajax({
      url: queryURL,
      type: "GET",
      success: function (result) {
        console.log("book info downloaded!");
      }
    }).then(function (result) {
      $(".modal-title").empty()
      $(".modal-body").empty()
      $(".modal-footer").empty()
      $(".modal-title").text(result.volumeInfo.title)

      var $div = $("<div>")
        .html(result.volumeInfo.description);

      var $buttonSave = $("<button>")
        .addClass("btn btn-primary float-right save")
        .attr("data-id", result.id)
        .text("Save");
      var $buttonExit = $("<button>")
        .addClass("btn btn-primary float-right exit")
        .attr("data-dismiss", "modal")
        .text("Exit");

      $(".modal-footer").append($buttonSave).append($buttonExit);
      $(".modal-body").append($div)
    })
  })

  $(document).on("click", ".save", function () {
    var ID = $(this).attr("data-id");
    var queryURL = "https://www.googleapis.com/books/v1/volumes/" + ID
    //   + "?key=" +
    //      "AIzaSyDdxaUEx5j0RsXLGcsviwOwOVMZ2QBLLBo";
    var getBook = $.ajax({
      url: queryURL,
      type: "GET",
      success: function (result) {
        console.log("book info downloaded again - still on client");
      }
    }).then(function (result) {
      let bookSubmission = {
        title: result.volumeInfo.title,
        purchase_link: result.saleInfo.buyLink,
        image: result.volumeInfo.imageLinks.thumbnail,
        authors: result.volumeInfo.authors.join(","),
        description: result.volumeInfo.description,
        pageCount: result.volumeInfo.pagecount,
        rating: result.volumeInfo.averageRating,
        price: result.saleInfo.saleability,
        isbn: result.volumeInfo.industryIdentifiers[1].identifier,
        link: result.volumeInfo.previewLink
      }
      console.log(bookSubmission);
      var sendBook = $.ajax({
        headers: {
          "Content-Type": "application/json"
        },
        type: "POST",
        url: "api/newbook",
        data: JSON.stringify(bookSubmission),
        success: function (response) {
          console.log("book sent to server");
          alert("book saved");
        },
        error: function (response) {
          console.log(err);
        }
      })
    })
  })
</script>